.form_content {
  padding: 12px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form_content .form_info {
  width: 100%;
  max-width: 678px;
}
.form_content .form_img {
  max-width: 562px;
  max-height: 566px;
  overflow: hidden;
}
.form_content .form_img img {
  width: 100%;
  height: auto;
  max-width: 562px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form_img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form_info_title h3 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 66.24px;
  margin-bottom: 32px;
}
.form_info_title h3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  -webkit-columns: #000;
     -moz-columns: #000;
          columns: #000;
  margin-bottom: 72px;
}

.form_content_input > label input[number]::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.form_content_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form_content_inputs label {
  margin-bottom: 16px;
}
.form_content_inputs label input {
  width: 100%;
  max-width: 562px;
  height: 31px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #000;
}

.form_content_inputs label input::-webkit-input-placeholder {
  color: #000;
}

.form_content_inputs label input::-moz-placeholder {
  color: #000;
}

.form_content_inputs label input:-ms-input-placeholder {
  color: #000;
}

.form_content_inputs label input::-ms-input-placeholder {
  color: #000;
}

.form_content_inputs label input::placeholder {
  color: #000;
}

.form_content_inputs label:last-of-type {
  margin-bottom: 24px;
}

.content_input_button {
  border: none;
  width: 176px;
  background-color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #fff;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  margin-bottom: 40px;
}

.form_content_apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content_apps_icon {
  margin-right: 8px;
}

.form {
  margin-bottom: 120px;
}