* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  text-decoration: none;
  max-width: 1376px;
}

.header {
  padding: 12px 32px;
}

.container {
  max-width: 1376px;
  height: auto;
  margin: auto;
}
.container .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container .header_content .item_phone {
  margin-left: 207px;
}
.container .header_content .logo img {
  cursor: pointer;
}
.container .header_content .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container .header_content .navigation .nav_item {
  list-style: none;
}
.container .header_content .navigation .nav_item .nav_items {
  font-size: 18px;
  color: #000;
  padding-bottom: 8px;
}
.container .header_content .navigation .nav_item .nav_items a {
  color: #000;
  position: relative;
}

.nav_items a::before {
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 1px solid #000;
  position: absolute;
  top: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_items a:hover::before {
  width: 100%;
}

.intro {
  padding: 12px 32px;
  margin-bottom: 120px;
}
.intro .intro_content_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -100px;
}
.intro .intro_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.intro .intro_content .intro_content_right a {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 124px;
  color: #000;
  text-transform: uppercase;
  position: relative;
}
.intro .intro_content .intro_content_left p {
  max-width: 445px;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  height: auto;
  line-height: 140%;
}
.intro .intro_content .intro_content_left h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 86.4px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 40px;
  color: #000;
}
.intro .intro_content .intro_content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: auto;
}

.intro_images_right {
  width: 678px;
  height: 809px;
}
.intro_images_right img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro_images_left,
.intro_images_right {
  overflow: hidden;
}

.intro_images_left img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.intro_images_right img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.intro_images_left {
  margin-top: auto;
}
.intro_images_left img {
  width: 329px;
  height: 493px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro_content_left {
  width: 55%;
  height: auto;
}
.intro_content_left img {
  width: 329px;
  height: 493px;
}

.intro_content_right {
  width: 45%;
  height: auto;
}
.intro_content_right img {
  width: 678px;
  height: 809px;
}

.intro_content_right a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro_content_right a:hover::before {
  width: 0%;
}

.about {
  padding: 12px 32px;
  margin-bottom: 120px;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_content_title {
  width: 50%;
  height: auto;
}
.about_content_title h3 {
  max-width: 562px;
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 48px;
  line-height: 66.42px;
  color: #000;
  margin: 0;
  margin-bottom: 40px;
}

.about_content_info {
  width: 50%;
  height: auto;
}
.about_content_info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #000;
  max-width: 446px;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.about_content_info p:last-of-type {
  margin-bottom: 44px;
}

.content_info h6 {
  font-size: 36px;
  font-weight: 400;
  color: #000;
  margin: 0;
}

.content_info {
  margin-bottom: 24px;
}
.content_info p {
  width: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #000;
  margin: 0;
}

.steps_content {
  padding: 12px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps_content_title,
.steps_content_info {
  width: 50%;
  height: auto;
}

.steps_content_title h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 66.24px;
  color: #000;
  margin: 0;
}

.steps_content_info p {
  max-width: 325px;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #000;
  margin-top: 16px;
  margin-bottom: 44px;
}

.steps_content_info_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-bottom: 24px;
}
.steps_content_info_text h6 {
  font-weight: 400;
  font-size: 36px;
  line-height: 49.68px;
  color: #000;
  margin: 0;
  width: 100%;
  max-width: 328px;
  height: auto;
}
.steps_content_info_text p {
  padding-bottom: 24px;
  margin-bottom: 0;
  margin-top: 12px;
  max-width: 329px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #000;
}

.steps {
  margin-bottom: 120px;
}

.projects {
  padding: 12px 32px;
  margin-bottom: 120px;
}

.project_content_title h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 66.24px;
  color: #000;
}

.project_content_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 25px;
}
.project_content_images .content_img {
  width: 100%;
  max-width: 31.8%;
  height: auto;
  max-height: 570px;
  overflow: hidden;
  position: relative;
}
.project_content_images .content_img img {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}

.content_img_hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 37, 41, 0.5);
  padding: 22px 20px;
}

.content_img_hover a > p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: #fff;
}

.content_img_hover {
  position: absolute;
  z-index: 1;
  bottom: -70px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content_img:hover .content_img_hover {
  bottom: 3px;
}

.testimonials_forms_display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials {
  margin-bottom: 120px;
  padding: 12px 32px;
}
.testimonials .forms_content {
  margin-right: 12px;
  width: 100%;
  max-width: 445px;
  height: auto;
  min-height: 304px;
}
.testimonials .testimonials_forms {
  background: transparent;
  border: 1px solid #000;
  padding: 40px 40px 40px 40px;
  text-align: center;
}
.testimonials .testimonials_forms .forms_content_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.84px;
  color: #000;
}
.testimonials .testimonials_forms .forms_content_name {
  margin-bottom: 20px;
}
.testimonials .testimonials_forms .forms_content_name h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.84px;
  color: #000;
  margin: 0;
}
.testimonials .testimonials_forms .forms_content_icon {
  margin-bottom: 32px;
}

.testimonials_title h3 {
  font-weight: 400;
  font-size: 46px;
  line-height: 66.24px;
  color: #000;
  margin: 0;
  margin-bottom: 32px;
}

.forms_content:last-child {
  margin-right: 0;
}

.form_content {
  padding: 12px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form_content .form_info {
  width: 100%;
  max-width: 678px;
}
.form_content .form_img {
  max-width: 562px;
  max-height: 566px;
  overflow: hidden;
}
.form_content .form_img img {
  width: 100%;
  height: auto;
  max-width: 562px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form_img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form_info_title h3 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 66.24px;
  margin-bottom: 32px;
}
.form_info_title h3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  -webkit-columns: #000;
     -moz-columns: #000;
          columns: #000;
  margin-bottom: 72px;
}

.form_content_input > label input[number]::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.form_content_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form_content_inputs label {
  margin-bottom: 16px;
}
.form_content_inputs label input {
  width: 100%;
  max-width: 562px;
  height: 31px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #000;
}

.form_content_inputs label input::-webkit-input-placeholder {
  color: #000;
}

.form_content_inputs label input::-moz-placeholder {
  color: #000;
}

.form_content_inputs label input:-ms-input-placeholder {
  color: #000;
}

.form_content_inputs label input::-ms-input-placeholder {
  color: #000;
}

.form_content_inputs label input::placeholder {
  color: #000;
}

.form_content_inputs label:last-of-type {
  margin-bottom: 24px;
}

.content_input_button {
  border: none;
  width: 176px;
  background-color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #fff;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  margin-bottom: 40px;
}

.form_content_apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content_apps_icon {
  margin-right: 8px;
}

.form {
  margin-bottom: 120px;
}

.footer {
  padding: 12px 32px;
}
.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer_content .footer_content_social a {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-transform: uppercase;
  color: #000;
  position: relative;
}
.footer .footer_content .footer_content_text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #000;
}
.footer .footer_content .footer_content_info p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: #000;
}

.footer_content_social a:last-of-type {
  margin-left: 40px;
}

.footer_content_social a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 0;
}

.footer_content_social a:hover::before {
  width: 100%;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .forms_content {
    max-width: 375px;
  }
  .content_img {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 185px;
    max-width: 100%;
    max-height: 100%;
  }
  .content_img img {
    max-width: 100%;
    max-height: 100%;
  }
}
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */